global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'order-service'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['localhost:8001']

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
