/* Base input and select */
select,
input[type="text"],
.form-select {
    background-color: transparent;
    color: #000;
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
}

select:focus,
input:focus {
    outline: none;
    border-color: #0140fc;
}

/* Floating label container */
.form-floating {
    position: relative;
    margin-top: 1rem;
}

/* Label styling */
.form-floating label {
    display: block;
    margin-bottom: 6px;
    color: black !important;
    font-weight: 700;
    font-size: 0.9rem;
}


.form-control {
    background-color: transparent !important;
    margin-left: 2px;
}

.form-floating > .form-control:focus ~ label,
.form-floating > select:focus ~ label {
    color: #0140fc !important;
    background-color: transparent !important;
}



